.container{
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 112px);
    /* justify-content: center; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* auto-fit means being responsive, it makes columns according to screen width */
    /* syntax: grid-template-columns: repeat(auto-fit, minmax(minValue, maxValue)); */
    /* this command makes the grid columns responsive */
}

.box{
    background-color: rgb(236, 255, 209);
    border: 2px solid yellowgreen;
    padding: 4px;
}